.lesson {
    width: 200px;
    height: 100px;
    /*fromt-family property 
  }
  
.section-blue {
  color: orange;
  background-color: blue;

}
  
.container {

}

#section-1 {
  background-color: purple;
  color: yellow;
}

#section-6 {

}
