<!-- TODO: Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->
<!--  This file is part of the View in the MVC framework. It serves as a template for rendering HTML content. 
  Specifically, this is a Handlebars layout file, which defines the overall structure of the web page. 
  The content for this layout will be dynamically injected into the {{{body}}} placeholder based on the specific view being rendered.
 -->
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Potluck Party</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          &#127881 Potluck Party! &#127881
        </h1>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- TODO: Add a comment describing what the following line of code is doing. -->
                <!-- 
          The following line of code is a Handlebars expression that injects the specific content for the page 
          into the {{{body}}} placeholder. When visiting http://localhost:3001/ in the browser, 
          we should expect to see the content of the corresponding view template rendered within the layout defined here.
        -->
        <!-- What should we expect to see when visiting http://localhost:3001/ in the browser? -->
        {{{body}}}
      </main>
    </div>
  </body>

</html>
